<!DOCTYPE html>
<html lang="en">

<head>
    
	<%- include ("../partials/headLinks") %>

    <title> Messages </title>

    <meta name="keywords" content="Messages, API, REST, JSON">
    <meta name="description" content="Page for viewing messages received from users">
</head>

<body>
    <p> <%= messages %> </p>
</body>

</html>